<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" name="keywords" [(ngModel)]="keywords" class="form-control" placeholder="book ID, Title, etc...">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio1" name="radio" checked>
      <label class="custom-control-label" for="radio1" value="GetByTitle/">Book Title</label>
    </div>
    
    <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio2" name="radio">
      <label class="custom-control-label" for="radio2" value="GetByAuthorName/">Author's Name</label>
    </div>

 

  </form>
</div>