<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" name="keywords" [(ngModel)]="keywords" class="form-control" placeholder="book ID, Title, etc...">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" id="radio1" class="form-check-input" name="radio" value="GetByTitle/" checked>Book Title
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" id="radio2" class="form-check-input" name="radio" value="GetByAuthorName/">Author's Name
      </label>
    </div>
  </form>
</div>